{% extends 'base.html' %}

{% block title %} Category posts {% endblock %}

{% block content %}
    <div class="posts">
        <a href="{{ url_for('add_post') }}" class="add-post-btn">Add post</a>
        <h1>Posts</h1>
        {% for p in posts %}
            <div class="post">
                <h2><a href="{{ url_for('post_detail', id=p.id) }}">{{ p.title }}</a></h2>
                <p>{{ p.created_at.strftime('%Y-%m-%d | %H:%M') }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="back-link">
        <a href="{{ url_for('index') }}" class="back-btn">Barcha postlarni ko'rish</a>
    </div>
{% endblock %}
