{% extends 'base.html' %}

{% block title %} Detail {% endblock %}

{% block content %}
    <div class="container">
        <div class="post-detail">
            <h1>Category: {{ posts.title }}</h1>
            <p class="category">{{ categories.title }}</p>
            <p class="date">Created at: {{ posts.created_at.strftime('%Y-%m-%d | %H:%M') }}</p>
            <div class="content">
                <p>Text: {{ posts.text }}</p>
            </div>
        </div>
        <div class="back-link">
            <a href="{{ url_for('index') }}" class="back-btn">Back to home</a>
        </div>
    </div>
{% endblock %}
